{{- if .Values.controller.create }}
apiVersion: policy/v1beta1
kind: PodSecurityPolicy
metadata:
  name: efs-csi-controller
spec:
  allowPrivilegeEscalation: true
  fsGroup:
    rule: RunAsAny
  runAsUser:
    rule: RunAsAny
  seLinux:
    rule: RunAsAny
  privileged: true
  supplementalGroups:
    ranges:
    - max: 65535
      min: 1
    rule: MustRunAs
  volumes:
  - secret
  - configMap
  - emptyDir
  - projected
{{- end }}
