{{- range .Values.storageClasses }}
{{- if .hasSecret }}
---
apiVersion: v1
kind: Secret
data:
  awsRoleArn: {{ .roleCrossAccount | b64enc }}
  crossaccount: {{ "true" | b64enc }}
metadata:
  name: {{ index .parameters "csi.storage.k8s.io/provisioner-secret-name" }}
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "aws-efs-csi-driver.labels" $ | nindent 4 }}
type: Opaque
{{- end }}
{{- end }}
