# Default values for aws-efs-csi-driver.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

nameOverride: ""
fullnameOverride: ""
bundleNameOverride: ""
fullBundleNameOverride: ""

ociRepositoryUrl: oci://gsoci.azurecr.io/charts/giantswarm/aws-efs-csi-driver

# These values are mapped with logic, can't be put in the workload chart directly
image:
  registry: gsoci.azurecr.io
  repository: giantswarm/aws-efs-csi-driver
  tag: "v2.3.0"

sidecars:
  livenessProbe:
    image:
      registry: gsoci.azurecr.io
      repository: giantswarm/livenessprobe
      tag: "v2.17.0"
  nodeDriverRegistrar:
    image:
      registry: gsoci.azurecr.io
      repository: giantswarm/csi-node-driver-registrar
      tag: "v2.15.0"
  csiProvisioner:
    image:
      registry: gsoci.azurecr.io
      repository: giantswarm/csi-provisioner
      tag: "v6.1.0"

# We need this to inject the IRSA annotation
controller:
  serviceAccount:
    name: efs-csi-sa
    annotations: {}
